/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

GO FOR IT  :D   Don't worry about getting it exact!

*/

body {
  font-family: "times new roman", serif;
  color: #656565;
}

.container {
  max-width: 960px;
  margin: auto;
}

header {
  padding: 30px 0 15px 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  opacity: .6;
}

img {
  margin-bottom: 2px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  opacity: .9;
  padding: 20px 0 15px 0;
}

p {
  padding: 0 0 15px 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .05em;
  opacity: .8;
}

a {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: deepskyblue;
  opacity: 1;
}

.press img {
  box-sizing: border-box;
  border: 5px solid rgba(101, 101, 101, .3);
}